/.idea/
/bin/
/platform/
/sourceengine/
/steamapps/
/steam_cache/
/.editorconfig
/.htaccess
/source_logger
/srcds_linux
/srcds_run
/steam_appid.txt
/ThirdPartyLegalNotices.txt
/.gitattributes


/garrysmod/*
!/garrysmod/addons/
!/garrysmod/cfg/
!/garrysmod/cfg/server.cfg
!/garrysmod/gamemodes/
/garrysmod/gamemodes/*
!/garrysmod/gamemodes/darkrp/
!/garrysmod/sv.db

